/*h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Patrick Hand', cursive;
	font-size: 3em;
}*/

/*Block elements*/
/*p {
	border-bottom: 0.75px dotted gray;
}

blockquote {
	border: 0.25px dashed black;
	background-color: #f4f4b0;
}*/

/*Inline elements + rgb & hsl*/
/*em {
	border: 1px solid rgb(0, 221, 255);
}

#cita {
	background-color: hsl(45, 100%, 50%);
}*/


/*Display: none*/
/*.oculto {
	display: none;
}*/